
body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background:#333;
  color:#fff;
}
/* navbar section css */
.navbar{
  border:3px solid #50517D;
  background:#333333;
  opacity: 0.7;
  height:15%;
}
#navid a{
  font-size:20px;
  color:#34ebd0;
}
.navbar-brand{
  margin-right:30%;
}
.logo{
  width:60px;
}

/* home section */
#home{
background:url("/img/home02.jpg") no-repeat center top;
background-size:cover;
min-height:auto;
width:100%;
background-position:center;
background-attachment:fixed;

}

.dark-overlay{
   background: rgba(0, 0, 0, 0.7);
   min-height:400px;
 }

.home-inner{
  padding-top:15%;
  padding-bottom:2%;
}

 .fa{
   background:#fff;
   color:blue;
   padding:4px;
   font-size:30px;
   border-radius:5px;
 }
 .card{
   padding-left:auto;
   width:500px;
   height:500px;
   opacity: 0.8;
   border: 4px solid 	#996666;
   padding: 10px;
   border-radius: 10px 50px;
 }

 .headerimg{
   width: 450px;
   height:450px;
   opacity: 0.9;

 }

 .hero-text {

   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }

 /* skill_bars section strat  */
  #skills{
    padding-top:10%;
  }
   #skills h1{
     padding:4px;
     font-size:35px;
     border-bottom:4px solid #62d6c6;
     width:65%;
     margin-left:100px;
     padding-bottom:15px;

   }

 #skills hr{
   border-bottom:4px solid #62d6c6;
   width:80%;
   bottom:25px;

 }
 #skills p{
   padding:8px;
   font-size:22px;
   color:#073138;
   text-align:center;
 }

.skill-bars{
  width:100%;
  padding-top:5%;
  padding-bottom:5%;
  opacity:0.6;
  padding-left:4%;
}
.skillheader{
  margin-left:18%;
}
.skills-ul{

   list-style-type:none;
 }
.bars{
 color:white;
 background-color:#2F4F4F;
 margin-right:30%;

}



/* Services section css */
#Services{
  padding-top:5%;
}

 #text h4{
  margin-left:40%;
  margin-top:5%;
  color:white;
  text-decoration-line:underline;
  font-size:40px;
  padding-bottom:18px;

}

a {
    color: #fff;
}

a:hover {
    color: #E0E0E0
}



.box {
    width: 30%;
    margin:60px 0 100px 10px;
    height: 550px;
    position: relative;
    border:1px solid red;
    border-radius:45px 14px 3px 2px;


}



.box:hover{
  background: linear-gradient(to bottom right , #808080 35%,#CD5C5C 100%);
}

.box h5{
  text-align: center;

}
.box p{
  text-align:center;
  font-size:20px;
}
.box button{
  margin-left:25%;
}
.icon{
  margin:20px 0 35px 120px;
}

.box1 {
    background: linear-gradient(to bottom right , #C71585 35%,#008B8B 100%);
    color: #fff

}

.box2 {
    background: linear-gradient(to bottom right , #D2691E 35%,#6495ED 100%);
    color: #fff
}

.box3 {
    background: linear-gradient(to bottom right , #2F4F4F 35%,#00CED1 100%);

    color: #fff
}

.fa-lightbulb-o {
    color: #E91E63;
    background-color: #fff;
    border-radius: 50%;
    font-size: 40px;
    padding: 20px 30px
}

.btn-pink {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    background-color: #E91E63;
    height: 50px;
    width: 180px
}

.btn-pink:hover {
    color: #E91E63;
    background-color: #fff
}

.btn-pink:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.sm-text {
    font-size: 14px
}

.bottom {
    bottom: 20px;
    position: absolute;
    width: 150px
}



@media screen and (max-width: 992px) {
    .box {
        width: 48%
    }

    .btn-pink {
        width: 150px !important
    }
}



@media screen and (max-width: 567px) {
  .box {
      width: 78%
  }
   #text h4{
   margin-left:15%;
   font-size:20px;

 }
  #Services{
      margin-left:20%;
      font-size:20px;
  }

.icon{


   font-size: 10px;
    margin:20px 0 35px 80px
}
.fa-lightbulb-o {
    color: #E91E63;
    background-color: #fff;
    border-radius: 50%;
    font-size:30px;
    padding: 20px 5px 0 5px;
    text-align: center;
}

.box h5{
  font-size:14px;

}
.box p{
  font-size:15px;
}

.btn-pink {
    height:40px;
    width:30px;
    background: red;
    font-size:12px;
}
.box button{
  margin-left:10%;
}

}






/* project section css */
#project{
  padding-top:5%;
  background:url("/img/images .jpeg");
  opacity:0.6;
  border-radius:2px solid red;
}

.galery{
  border:6px solid 	#0b6fa5;
  padding: 10px;
  border-radius: 10px;
}
.galery_text{
  text-align:center;
  font-family:monospace;
  padding:6px;
  color: white;
  font-weight:500;
  text-decoration-line:underline;
}

/* About me section start */
#about{
  background:#2F4F4F;
  padding-bottom:30px ;
  opacity: 0.6;
  height: auto;
  width: 100% ;

}
.collapse{
    padding-top:50px;


  }
  .card_area{
    width:150%;
    height:370px;
  }
.about-area{
  padding-top:8%;

}
.about-img {

  position: relative;
}
.about-img::before{
  position: absolute;
  content: "";
  right: -20px;
  top: 20px;
  border: 10px solid rgb(153, 102, 0);
  width: 100%;
  height:100%;
}
.about-img img{

  width: 350px;
  height: 400px;
}

.about-text{
  padding-top:10%;
  margin-left:8%;
  font-family:lobster;
  font-size:20px;
  text-align: justify;
}
#table{
  padding-bottom:20%;
  background:#B64418 ;
}
#education{
  height: 400px;
}
/* contact form css */


#contact-section{

  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(/img/contact_us.jpg);
  background-size: cover;
  background-position:right;
  height:auto;
  width: 100% ;
  padding-top:5%;
  padding-bottom:4%;
  opacity:0.7;


}
#contact-section h2{
  padding-left:20%;

}
#contact-section hr{
  width:20%;
  height:8px;
  margin-left:50%;
  padding-bottom:20px;
}

 #contact-form{
   font-size:25px;
   font-style: Times, serif;;
 }
 #contact-form p{
   color:#ffffff;
 }
 #contact-form a{
   width:200px;
   border-bottom:4px solid green;

 }
.address {
  font-size:20px;
  margin-top:10%;
  font-family: Times, serif;;
}











/* medium small device for header section */
@media (max-width:576px) {
  body,html{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background:#333;
    color:#fff;
    position: inherit;
  }
  /* navbar section css */
  .navbar{

    background-color: black;
    position:fixed;
  }

  .navbar button{
    background-color:#FF7F50;

  }
  #navid {
    margin-top:2%;
    background-color:black;
    border-radius:10px;
    padding-bottom:9%;
  }
  #navid a{
     font-size:18px;
     color:white;
     font-weight:15px;
     text-align: center;
     padding-top:1%;
   }

   #navid a:hover{
       background-color:#15B32C ;
   }
   /* home section css */
   #home{

     padding-top:30%;
   }
   #home h1{
    font-size:36px;
   }
   .card{
     padding-right:auto;
     width:100%;
     height:auto;
     opacity: 0.8;
   }
   .headerimg{
     width:100%;
     height:auto;
     opacity: 0.9;
   }
   .home-inner{
     padding-top:30%;
     padding-bottom:2%;
   }

  /* skills section css */

  .skillheader{
    margin-right:100px;
    width:75%;
  }
  #skills h1{
    margin-left:2px;
    padding:10px;
    font-size:18px;
    border-bottom:4px solid blue;
    width:85%;

  }
  #skills p{
    font-size:12px;
    width:90%;
    color:#073138;
    text-align:justify;
  }
  .bars{
    margin-left:30px;
    width:80%;
  }
/* Project Galery section css */

  #project h1{
    font-size:25px;
  }
  .galery{
    margin-left:10%;
    padding:20px;
    width:80%;
  }

/* about section css */

.about-img img{
  margin-left: 50px;
  width: 280px;
  height: 250px;
}
.about-img::before{
  margin-right:100px;
  position: absolute;
  top:10px;
  border: 10px solid rgb(153, 102, 0);
  width:70%;
  height:100%;
  opacity:0.7;
}


.about-text h2{
  margin-top:30px;
  padding-right:30px;
  text-align: center;
  font-family:lobster;
  font-size:30px;
  text-decoration-line: underline;
}
.about-text p{
  width:80%;
  margin-left:40px;
  font-size:18px;
  text-align: justify;
}
.about-text a{
  margin-left: 35px;
}

#education{
  width:90%;
  height: auto;
  font-size:12px;
}
#table{
  background:#B64418 ;
}
.card-header {
  color: white;
  font-size:15px;
}

 /* contact Section  css */
 #contact-section h2{
   margin-right:15%;
   font-size:28px;


 }
 #contact-section p{
   font-size:20px;
 }
#contact-form p{
  padding-top:10%;
}
#contact-form label{
  font-size:20px;
}


/* footer section css */

#footer h3{
  font-size: 20px;

}
#footer form{
 padding-left:5%;
}


  }





  @media (max-width:376px) {
    /* home section css */
    #home h1{
     font-size:26px;
    }
    .card{
      padding-left:auto;
      width:280px;
      height:180px;
      opacity: 0.8;
    }
    .headerimg{
      width: 220px;
      height:120px;
      opacity: 0.9;
    }
    .home-inner{
      padding-top:55%;
      padding-bottom:2%;
    }

 /* about section css */
 .about-img img{
   margin-left:50px;
   width: 200px;
   height: 250px;
 }
 .about-img::before{
   margin-right:60px;
   position:absolute;
   right:-22px;
   left:15px;
   top:10px;
   border: 10px solid rgb(153, 102, 0);
   width:70%;
   height:100%;
   opacity:0.2;
 }
 .about-text h2{
   margin-right:10%;
   font-size:25px;
 }
 .about-text p{
  width:60%;


 }
 #table{
   background:#000;
   width:100%;
   height: auto;
   font-size:9px;
   margin-right:100%;
 }

 /* footer section css */

 #footer h3{
   font-size: 20px;

 }
#footer form{
  padding-left:5%;
}

  }
